DB_NAME=
DB_USER=user
DB_PASSWORD=password
DB_ROOT_PASSWORD=rootpassword
DB_HOST=

WP_ENV=staging
WP_HOME=http://localhost:8000
WP_SITEURL=http://localhost:8000/wp
WP_CACHE=true
WP_DEBUG=false

AUTH_KEY='85a*k?(zU]}IxKPeRoCv:zV$/MX2g8<G$UmX3LAof*N]*1Za5.R_s3Lh)o3V]{k='
SECURE_AUTH_KEY='dHF=fO(}Gw$2g%(Z|LVPA:^m=Folc@TeoNcx];bq>ZXd4>M@9mdG^|pN^@JhBgr]'
LOGGED_IN_KEY=';I|g`95Qvt(y{xtH@W<B!XvuRUq1F-!4%srb]`?i=,VsZ|j|+<I_x),83fBKQqhq'
NONCE_KEY='iymB$8H1o%:^x}+)dxQ`I0gHr^{22Bv&#MspWqr10;jI?Pta9-cFGU;,|K&KIYOK'
AUTH_SALT='N%zIDHUFCVTh<V4fPOq9tp,b^tzASfTDiI2a&?B{];.(5[5wEniC%y]r|R8s&`H/'
SECURE_AUTH_SALT='}ouR_}gsUx:%rK#OSe3FiYd}Os?By@q(Yhk$6n?6Us=aT:SC/1_z`dzm=l6e(Bc_'
LOGGED_IN_SALT='`?Z?jiEaUOPQZJFjhSViwa]Ffrc|6naRU)u0OG1=`Sx],rrnn/!G#+6,!!6S9l<<'
NONCE_SALT='n]&Y<r49NtK`DTQ_f>t{12g!-!.TNVKjT0T[2t!s][L9-[Jq0S-0XYFm6F?v}2>/'