<form id="profile-form" class="profile-form">
	<div class="profile-form__header">
		<h2 class="profile-form__title heading-2-mobile heading-2">Formulaire de demande</h2>
		<p class="text-base-mobile text-base">Remplissez ce formulaire et nous nous occuperons de votre candidature.</p>
	</div>
	<div class="profile-form__fields">
		<div class="profile-form__field-group">
			<div class="profile-form__field-row">
				<input type="text" name="firstName" placeholder="Prénom" required autocomplete="on">
				<input type="text" name="lastName" placeholder="Nom" required autocomplete="on">
			</div>
			<div class="profile-form__field-row">
				<input type="email" name="email" placeholder="E-mail" required autocomplete="on">
				<input type="text" name="phoneNumber" placeholder="Numéro de téléphone" autocomplete="on">
			</div>
		</div>

		<textarea name="message" rows="6" placeholder="" votre message . . ."" required class="profile-form__textarea bg-grey-50 font-karla"></textarea>

		<button type="submit" class="btn">
			Envoyer
		</button>
	</div>
</form>
