<form id="profile-form">
	<div>
		<h2>Formulaire de demande</h2>
		<p>Remplissez ce formulaire et nous nous occuperons de votre candidature.</p>
	</div>
	<div>
		<div>
			<div>
				<input type="text" name="firstName" placeholder="Prénom" required autocomplete="on">
				<input type="text" name="lastName" placeholder="Nom" required autocomplete="on">
			</div>
			<div>
				<input type="email" name="email" placeholder="E-mail" required autocomplete="on">
				<input type="text" name="phoneNumber" placeholder="Numéro de téléphone" autocomplete="on">
			</div>
		</div>

		<textarea name="message" rows="6" placeholder="votre message . . ." required></textarea>

		<button type="submit">
			Envoyer
		</button>
	</div>
</form>
